
# Analiza i Bazy Danych Laboratorium  nr 2

## Kacper Kozaczko 402162 AiR III rok

In [265]:
import pandas as pd
import csv
import os
data_imported = pd.read_csv('../OriginalData/drinks.csv')

In [266]:
data_imported.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Afghanistan,0,0,0,0.0
1,Albania,89,132,54,4.9
2,Algeria,25,0,14,0.7
3,Andorra,245,138,312,12.4
4,Angola,217,57,45,5.9

Odfiltrowanie państw abstynenckich. Odfiltrowanie danych, gdzie spożycie jest ujemne. Tabela jest pusta, więc takich danych nie ma.

In [267]:
alc_measured = pd.DataFrame(data_imported)
abstinent_df = pd.DataFrame(alc_measured.loc[(alc_measured['spirit_servings'] == 0) & (alc_measured['wine_servings'] == 0) & 
                 (alc_measured['beer_servings'] == 0) & (alc_measured['total_litres_of_pure_alcohol'] == 0)]) 

minus_drinks = pd.DataFrame(alc_measured.loc[(alc_measured['beer_servings'] < 0) | (alc_measured['spirit_servings'] < 0) | 
                 (alc_measured['wine_servings'] < 0) | (alc_measured['total_litres_of_pure_alcohol'] < 0)])
minus_drinks.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 0 entries
Data columns (total 5 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   country                       0 non-null      object
 1   beer_servings                 0 non-null      int64
 2   spirit_servings               0 non-null      int64
 3   wine_servings                 0 non-null      int64
 4   total_litres_of_pure_alcohol  0 non-null      float64
dtypes: float64(1), int64(3), object(1)
memory usage: 0.0+ bytes

In [268]:
indices_to_remove = list(abstinent_df.index)
alc_measured.drop(indices_to_remove, inplace=True)
alc_measured.drop_duplicates(inplace=True)
alc_measured.reset_index(inplace=True, drop=True)
# alc_measured.drop('index',axis=1,inplace=True)

In [269]:
alc_measured.head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
0,Albania,89,132,54,4.9
1,Algeria,25,0,14,0.7
2,Andorra,245,138,312,12.4
3,Angola,217,57,45,5.9
4,Antigua & Barbuda,102,128,45,4.9

In [270]:
abstinent_df.reset_index(inplace=True)
abstinent_df.drop('index',axis=1,inplace=True)
abstinent_df['country']

0          Afghanistan
1           Bangladesh
2          North Korea
3                 Iran
4               Kuwait
5                Libya
6             Maldives
7     Marshall Islands
8           Mauritania
9               Monaco
10            Pakistan
11          San Marino
12             Somalia
Name: country, dtype: object

Jak widać, kraje które zostały zakwalifikowane jako abstynenckie znajdują się na bliskim wschodzie i Afryce. Można zauważyć, że kraje muzułmańskie oraz z ustrojem autorytarnym nie spożywają alkoholu. 


Poniżej przedstawiłem, gdzie alkoholu spożywa się najwięcej. Jak widać, najwięcej spożywa się w Europie Wschodniej.

In [271]:
alc_measured.sort_values('total_litres_of_pure_alcohol', ascending=False).head()

,country,beer_servings,spirit_servings,wine_servings,total_litres_of_pure_alcohol
13,Belarus,142,373,42,14.4
92,Lithuania,343,244,56,12.9
2,Andorra,245,138,312,12.4
65,Grenada,199,438,28,11.9
58,France,127,151,370,11.8

Interesujące mogą być także dane dotyczące Polski.

In [272]:
alc_measured.index = alc_measured.country
alc_measured.loc['Poland']

country                         Poland
beer_servings                      343
spirit_servings                    215
wine_servings                       56
total_litres_of_pure_alcohol      10.9
Name: Poland, dtype: object

Zapis przefiltrowanych i gotowych do obróbki danych zapisuję do plików w folderze AnalysisData.

In [273]:
if not os.path.exists("../AnalysisData/spozycieAlkoholuSwiat.csv"):
    alc_measured.to_csv('../AnalysisData/spozycieAlkoholuSwiat.csv', index=False)
if not os.path.exists("../AnalysisData/abstynenckieKraje.csv"):
    abstinent_df.to_csv('../AnalysisData/abstynenckieKraje.csv', index=False)